.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-left, .nav-right, .footer-left, .footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}